<div class='top'>
  <form action='/post/edit/<%=@post.id%>' method='get'>
    <input class='btn edit' type='submit' value='Edit Post'>
  </form>
  <form action='/post/delete/<%=@post.id%>' method='post'>
    <input class='btn delete' type='submit' value='Delete Post'>
  </form>
  <div class='tags'>
  <% @post.tags.each do |tag|%>
    <a class='tag' href='/tag/<%=tag.title%>'><%=tag.title%></a>
  <% end %>
  </div>
</div>
<div class='post'>
  <div class='head'>
    <h2 class='title'><%= @post.title %></h1>
    <span class='date'><%= @post.created_at.strftime("%B %d, %Y")%></span>
  </div>
  <p><%= @post.body %></p>
</div>
