<form action='/post/delete/<%=@post.id%>' method='post'>
  <input type='submit' value='Delete Post'>
</form>
<form action='/post/edit/<%=@post.id%>' method='get'>
  <input type='submit' value='Edit Post'>
</form>
<h1><%= @post.title %></h1>
<span>Tags: </span>
<% @post.tags.each do |tag|%>
  <a href='/tag/<%=tag.title%>'><%=tag.title%></a>
<% end %>
<p><%= @post.body %></p>
